.container {
    max-width: 780px;
    border: 2px solid #37373F;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    margin-top: 65px;
}

.form-item {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.btn-secondary {
    width: 100%;
}

label {
    font-weight: bold;
}

.disabled {
    background-color: #CCD7DE;
    font-size: 110%;
    font-weight: bold;
    color: #000000;
}

.site-nav {
    border-top: 2px solid #37373F;
    border-right: 2px solid #37373F;
    border-bottom: 2px solid #37373F;
    box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.75);
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
}

.site-nav ul {
    margin: 0px;
    padding: 0px;
}

.site-nav li {
    list-style: none;
    float: left;
    border-left: 2px solid #37373F;
    border-bottom: none;
    border-top: none;
    width: 14.28%;
    box-sizing: border-box;
}

.site-nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
}

.site-nav a:hover {
    background-color: #37373F;
    color: #FFFFFF;
}

.modal-own-text {
    font-weight: lighter;
}