hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.navbar{
    background-color: #CCD7DE;
}

.navbar-second-pushed {
    margin-top: 50px;
    border-top: 2px solid black;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
}

.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-content {
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}

.navbar-content:before, .navbar-content:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}

.category-button {
    background-image: linear-gradient(to bottom, #CCD7DE, #FFFFFF);
    height: 30px;
    border: none;
    width: 100%;
}

.account-div{
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

.site-nav {
    border-top: 2px solid #CCD7DE;
    border-right: 2px solid #CCD7DE;
}

.site-nav ul {
    margin: 0px;
    padding: 0px;
}

.site-nav li {
    list-style: none;
    float: left;
    border-left: 2px solid #CCD7DE;
    border-bottom: none;
    border-top: none;
    width: 12.5%;
    box-sizing: border-box;
}

.site-nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
}

.site-nav a:hover {
    background-color: #CCD7DE;
    color: #000000;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.form-horizontal{
    margin-top: 80px;

}

.form-control{
    width: 250px;
}

.form-profile{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 2px solid #37373F;
    border-radius: 10px;
    padding: 20px;
}

.form-address{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 2px solid #37373F;
    border-radius: 10px;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}