<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{../css/add-product.css}"/>
</head>
<body>

    <div th:replace="header :: panel"></div>

    <div class="container">

    <form method="POST" action="#" th:action="@{/add-product}" th:object="${productToAdd}">

        <h1>Add new product</h1>

        <hr>

        <label for="name">Name</label>
        <input class="form-item" type="text" name="name" id="name" th:field="*{name}" th:value="${productToAdd.name}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

        <label th:for="price">Price</label>
        <input class="form-item" type="number" name="price" id="price" min="0" step="0.01" th:field="*{price}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</p>


        <label th:for="unitAmount">Unit Amount</label>
        <input class="form-item" type="number" name="unitAmount" id="unitAmount" min="0" step="0.1" value=50 th:field="*{unitAmount}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('unitAmount')}" th:errors="*{unitAmount}">Name Error</p>

        <label th:for="unit">Unit</label>
        <select class="form-item" th:field="*{unit}" id="unit" name="unit">
            <option th:each="unit : ${units}"
                    th:value="${unit}"
                    th:text="${unit}">
            </option>
        </select>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}">Name Error</p>


        <label th:for="category">Category</label>
        <select class="form-item" th:field="*{category}" id="category" name="category">
            <option th:each="subcategory : ${subcategories}"
                    th:disabled="${subcategory.parentCategoryId == null} ? true : false"
                    th:class="${subcategory.parentCategoryId == null} ? 'disabled' : 'normal'"
                    th:value="${subcategory.id}"
                    th:text="${subcategory.name}">
            </option>
        </select>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Name Error</p>


        <label th:for="description">Description</label>
        <textarea class="form-item" id="description" name="description" th:field="*{description}"></textarea>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</p>


        <label th:for="eanCode">EAN Code</label>
        <input class="form-item" type="number" name="eanCode" id="eanCode" min="0" step="0.01" th:field="*{eanCode}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('eanCode')}" th:errors="*{eanCode}">Name Error</p>


        <label th:for="imgUrl">Image URL</label>
        <input class="form-item" type="text" name="imgUrl" id="imgUrl" th:field="*{imgUrl}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('imgUrl')}" th:errors="*{imgUrl}">Name Error</p>

        <hr>

        <input class="form-item btn btn-secondary" type="submit" value="Add Product!">

    </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>