<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{../css/add-product.css}"/>
    <meta charset="UTF-8">
    <title>Admin Product List</title>
</head>

<body>

<div class="header-nav" th:replace="header :: panel"></div>

<div class="container">
    <h1>Add To Highlighted</h1>

    <hr>

    <div th:if="${modifiedProduct != null}" class="alert alert-success" role="alert" id="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p th:text="'Product ' + ${modifiedProduct.name.toUpperCase()} + ' was ' + ${modifyVersion} + ' highlighted list.'"></p>
    </div>

    <form th:action="@{/add-highlighted}" method="POST">
        <input type="text" id="name" name="name" th:value="${name}">
        <input type="submit" value="Send!">

    </form>

    <div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="table-small">ID</th>
                <th scope="col" class="table-big">Name</th>
                <th scope="col" class="table-medium">Price</th>
                <th scope="col" class="table-medium">Add</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productList}">
                <td th:text="${product.id}">ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <form th:action="@{/add-highlighted}" method="POST">
                        <input type="hidden" name="page" th:value="${page}">
                        <input type="hidden" th:value="${product.id}" name="id" id="id">
                        <input type="hidden" th:value="${name}" name="name">
                        <input type="hidden" name="decision" value="true">
                        <input class="btn btn-outline-success" type="submit" value="Add">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage <= 1} ? 'page-item disabled'">
                    <a class="page-link" th:href="@{/admin-category-list(page=${currentPage}-1)}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:each="pageNumber : ${pages}" th:class="${pageNumber == currentPage} ? 'page-item active'">
                    <a class="page-link" th:href="@{/admin-category-list(page=${pageNumber})}" th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:class="${currentPage >= totalPages} ? 'page-item disabled'">
                    <a class="page-link" th:href="@{/admin-category-list(page=${currentPage}+1)}" tabindex="-1" aria-disabled="true">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <hr>

    <h2>Highlighted Products List</h2>

    <hr>

    <p th:if="${highlightedProducts.isEmpty()}">List is empty!</p>
    <div th:if="${!highlightedProducts.isEmpty()}">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="table-small">ID</th>
                <th scope="col" class="table-big">Name</th>
                <th scope="col" class="table-medium">Price</th>
                <th scope="col" class="table-medium">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${highlightedProducts}">
                <td th:text="${product.id}">ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <form th:action="@{/add-highlighted}" method="POST">
                        <input type="hidden" name="page" th:value="${page}">
                        <input type="hidden" th:value="${product.id}" name="id" id="id">
                        <input type="hidden" th:value="${name}" name="name">
                        <input type="hidden" name="decision" value="false">
                        <input class="btn btn-outline-danger" type="submit" value="Remove">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script src ="../js/product.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>

</body>
</html>