<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>

    <div class="container">

        <a th:href="@{/add-product}"><button>Add Product</button></a>
        <a th:href="@{/admin-product-list}"><button>Edit/Delete Product</button></a>
        <a th:href="@{/add-category}"><button>Add Category</button></a>
        <a th:href="@{/add-product}"><button>Edit/Delete Category</button></a>
        <a th:href="@{/add-product}"><button>View Users</button></a>
        <a th:href="@{/add-product}"><button>View Orders</button></a>
        <a th:href="@{/add-product}"><button>Add Highlighted Products</button></a>

    </div>

</body>
</html>