<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../css/error.css}">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<div class="container">
    <div class="one"><img src="https://pokemonletsgo.pokemon.com/assets/img/common/char-pikachu.png"></div>
    <div class="two"><p class="text">Zjebało się PIKA PIKA!!!</p></div>
</div>

</body>
</html>