<!DOCTYPE html>
<html lang="en">
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/index.css}"/>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
</head>
<body>
<div th:replace="header :: header"></div>
<nav class="clearfix site-nav navbar-second-pushed">
    <ul>
        <li><a href="#">User Profile</a></li>
        <li><a href="#">Address</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Favorite</a></li>
    </ul>
</nav>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>