<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShopDigger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/productpage.css}"/>
</head>
<body>

<div th:include="header :: header"></div>

<div>
    <div class="picture">

    </div>

    <div class="main-content">
        <p th:text="${productToDisplay.name}">Product name</p>
        <p th:text="${productToDisplay.price}">Product price</p>
        <p th:text="${productToDisplay.category.name}">Product category</p>
        <p th:text="${productToDisplay.unit}">Product unit</p>
        <p th:text="${productToDisplay.unitAmount}">Product unit amount</p>
        <p th:text="${productToDisplay.description}">Product description</p>
        <p th:text="${classToDisplay}">Product category</p>
    </div>

    <div class="sidebar">

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>